*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.window{
    width: 300px;
    height: 188px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    position: relative;
}
.images > img{ 
    width: 100%;/*宽度跟父元素一样*/
    transition: all 0.3s;
    position: absolute;
    top: 0;
}
.images > img.current{/*正常状态*/
    left: 0;
    transition: translataX(0);
    z-index: 1;
}
.images > img.leave{/*往左走*/
    transform: translateX(-100%);
    z-index: 1;
}
.images > img.enter{/*往右走*/
    transform: translateX(100%);
}
