*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.window{
    width: 300px;
    height: 188px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    display: flex;
    transition: all 1s;
}
.images > img{
    width: 100%;
}
.controls, .buttons{
    text-align: center;
}